# API
ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING=Host=localhost;Port=5432;Database=ucaa_hrms;Username=postgres;Password=postgres
JWT_ISSUER=UCAA.HRMS
JWT_AUDIENCE=UCAA.HRMS.Client
JWT_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET_KEY_32_CHARS_MIN
FRONTEND_URL=http://localhost:3000

# Frontend
REACT_APP_API_BASE_URL=https://localhost:7044/api
